conky.config = {
	alignment = '{{ alignment }}',
	background = {{background}},
	border_outer_margin = {{ border_outer_margin }},
	border_width = {{ border_width }},
	cpu_avg_samples = {{ cpu_avg_samples }},
	default_color = '{{ default_color }}',
	default_outline_color = '{{ default_outline_color }}',
	default_shade_color = '{{ default_shade_color }}',
	draw_borders = {{ draw_borders }},
	draw_graph_borders = {{ draw_graph_borders }},
	draw_outline = {{ draw_outline }},
	draw_shades = {{ draw_shades }},
	double_buffer = {{ double_buffer }},
	extra_newline = {{ extra_newline }},
	font = '{{ font }}',
	gap_x = {{ gap_x }},
	gap_y = {{ gap_y }},
	no_buffers = {{ no_buffers }},
	out_to_console = {{ out_to_console }},
	out_to_stderr = {{ out_to_stderr }},
	own_window = {{ own_window }},
	own_window_class = '{{ own_window_class }}',
	own_window_transparent = {{ own_window_transparent }},
	own_window_type = '{{ own_window_type }}',
	own_window_hints = '{{ own_window_hints }}',
	short_units = {{ short_units }},
	stippled_borders = {{ stippled_borders }},
	update_interval = {{ update_interval }},
	uppercase = {{ uppercase }},
	use_xft = {{ use_xft }},
	use_spacer = '{{ use_spacer }}',
	show_graph_scale = {{ show_graph_scale }},
	show_graph_range = {{ show_graph_range }},
}

conky.text = [[
{{ conky_text }}
]]
